---
import genPath from "../util/generatePath";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import img from "../assets/hero.jpg";

const products = await getCollection("products");
---

<Layout title="Alfombras" route={genPath("")} img={img}>
  <section class="container space-y-4 py-8">
    <h1 class="scroll-mt-24 text-center text-2xl md:text-3xl">Alfombras</h1>
    <div
      class="mx-auto grid max-w-4xl grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        products.map(({ data: { title, img } }) => (
          <Card title={title} img={img} />
        ))
      }
    </div>
  </section>
</Layout>
