---
import genPath from "../util/generatePath";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

import aromatizador from "../assets/aromatizador.jpg";
---

<Layout title="Relajación y tranquilidad en tus manos con Desvelados">
  <Hero />
  <section class="container space-y-4 py-8">
    <h2 class="text-center text-2xl md:text-3xl">Nuestros productos</h2>
    <div
      class="mx-auto grid max-w-4xl grid-cols-1 place-items-center gap-8 sm:grid-cols-2 lg:grid-cols-3"
    >
      <Card
        title="Aromatizador"
        img={aromatizador}
        href={genPath("productos/aromatizador")}
        price={1000}
      >
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          at? Consequuntur accusantium esse ab nobis?
        </p>
      </Card>
    </div>
  </section>
</Layout>
