---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Relajación y tranquilidad en tus manos con Desvelados">
  <h1 class="text-center" style="text-wrap: balance;">
    Relajación y tranquilidad en tus manos con Desvelados
  </h1>
</Layout>
