---
import logo from "../assets/logo.png";
import { Image } from "astro:assets";

interface Props {
  as: keyof HTMLElementTagNameMap;
}

const { as: Wrapper } = Astro.props;
---

<div class="bg-text py-4 text-background">
  <Wrapper class="container flex items-center justify-between">
    <a href="/">
      <Image src={logo} alt="logo" class="h-8 w-auto" />
      <span class="sr-only">Desvelados</span>
    </a>

    <a href="https://www.instagram.com/cdn.promo2023/">Instagram</a>
  </Wrapper>
</div>
