---
import genPath from "../util/generatePath";
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<a href={genPath("")}>
  <Image
    src={logo}
    alt="logo"
    class="h-8 w-auto"
    format="avif"
    quality="mid"
    widths={[136, logo.width]}
    sizes="68px"
  />
  <span class="sr-only">Desvelados</span>
</a>
