---
import genPath from "../util/generatePath";
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<a href={genPath("")}>
  <Image src={logo} alt="logo" class="h-8 w-auto" />
  <span class="sr-only">Desvelados</span>
</a>
