---
import Button from "./Button.astro";

interface Props {
  href: URL;
}

const { href } = Astro.props;
---

<div class="space-y-2">
  <Button href={href.toString()} target="_blank" class="w-full text-center">
    Comprar
  </Button>
</div>
