---
import Button from "./Button.astro";
---

<div class="space-y-2">
  <Button href="" class="w-full text-center">Reservar</Button>
  <p class="text-sm">
    Puedes realizar la reserva de tu producto por WhatsApp y retirarlo durante
    el microemprendimiento.
  </p>
</div>
