---
import hero from "../assets/hero.jpg";
import { getImage } from "astro:assets";

const optimizedHero = await getImage({ src: hero });
---

<div
  class={`grid min-h-[60vh] place-items-center bg-cover bg-center`}
  style={`background-image: url(${optimizedHero.src});`}
>
  <div
    class="grid h-full w-full place-items-center backdrop-brightness-50 lg:backdrop-blur-sm"
  >
    <h1
      class="container px-8 py-4 text-center text-2xl text-white sm:text-3xl md:text-4xl lg:px-16"
      style="text-wrap: balance;"
    >
      Relajación y tranquilidad en tus manos con <strong>Desvelados</strong>
    </h1>
  </div>
</div>
