---
import "@fontsource-variable/karla";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/700.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import genPath from "../util/generatePath";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href={genPath("sitemap-index.xml")} />
    <link rel="icon" type="image/png" href={genPath("icon.png")} />
    <title>Desvelados | {title}</title>
  </head>
  <body
    class="flex min-h-screen flex-col bg-background font-serif leading-relaxed text-text"
  >
    <Header class="sticky top-0 z-10" />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
    <style is:global>
      h1,
      h2,
      h3 {
        @apply font-sans;
      }
    </style>
  </body>
</html>
